
body {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  display: grid;
  color: #fff;
  overflow: hidden;
}

#feed{
  position: fixed;
  right:  -10px;
  bottom: 200px;
  z-index: 100;
   -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.panel-container {
  background-color: #fff;
  border-radius: 4px;
  font-size: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
}
.modal-body .input{
  border: 1px solid #eee;
  padding: 10px 80px;
  height: 100px;
  position: relative;
}
.panel-container strong {
  line-height: 20px;
}

.ratings-container {
  display: flex;
  margin: 20px 0;
}

.rating {
  flex: 1;
  cursor: pointer;
  padding: 20px;
  margin: 10px 5px;
}

.rating:hover,
.rating.active {
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.img-fluid{
  border-radius: 10px;
}
.rating img {
  width: 40px;
}

.rating small {
  color: #555;
  display: inline-block;
  margin: 10px 0 0;
}

.rating:hover small,
.rating.active small {
  color: #111;
}

.modal-body .btn {
  margin-top: 20px;
  background-color: #302d2b;
  color: #fff;
  border: 0;
  border-radius: 4px;
  padding: 12px 30px;
  font-family: inherit;
  cursor: pointer;
}
.modal-body .btn:hover{
 border: #302d2b;
 background: #302d2b;
 color:#fff;
}

.modal-body .btn:active {
  transform: scale(0.98);
}

.fa-heart {
  color: red;
  font-size: 30px;
  margin-bottom: 10px;
}
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

.left{
    position: absolute;
    top: 60%;   left: 20%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
}
.left li{
    list-style: none;
    margin-left: 5px;
    display: inline-block;
}
.left li a{
    position: relative;
    display: inline-block;
    color: #fff;
    text-decoration: none;
}
.left li a .fa{
    width: 30px;  height: 30px;
    border-radius: 20px;
    text-align: center;   line-height: 30px;
    font-size: 20px;
}

.left li:nth-child(1) a .fa , ul li:nth-child(1) a span{
    background: #3b5999;
}
.left li:nth-child(2) a .fa , ul li:nth-child(2) a span{
    background: #55acee;
}
.left li:nth-child(3) a .fa , ul li:nth-child(3) a span{
    background: #dd4b39;
}
.left li:nth-child(4) a .fa , ul li:nth-child(4) a span{
    background: #0077B5;
}
.left li:nth-child(5) a .fa , ul li:nth-child(5) a span{
    background: #00AFF0;
}
#header {
  background-color: #fff;
  overflow: hidden;
}
.navbar {
  padding: 15px;
  width: 100%;
  border-bottom: 1px solid #d4d3d3;
}
.navbar-toggler-icon {
  background-color: #007bff;
  padding: 20px;
  border-radius: 10px;
}
.nav-item span{
  padding:2px;
  font-size: 10px;
  color: #fff;
  border-radius: 3px;
  background-color: #03bd69;
}
.navbar a {
  text-decoration: none;
}
h2.logo strong {
  font-size: 30px;
  color: #4030f0;
  font-weight: 700;
}
h2.center-logo {
  margin: 10px 35px;
  margin-left: 400px
}
.logo{
  font-size: 30px;
  color: #4030f0;
  font-weight: 700;
}
.header-element{
  margin:20px
}
#largemodal{
  position: fixed;
}
.modal-header .close{
  background-color: #fff;
  border: none;
  margin-left:50px ;
}
.modal-header .close span{
  font-size: 40px;
}
.modal-header a{
  font-size: 19px;
  text-decoration: none ;
}
.modal-body{
  height: 85vh;
}
.modal-body .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 0rem auto;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.modal-body .images {
  position: relative;
  flex-basis: 42rem;
}

.modal-body .images img {
  position: relative;
  width: 20.75rem;
  height: auto;
  opacity: 0.7;
  transition: 0.4s ease;
}

.modal-body .images img:hover {
  cursor: pointer;
  opacity: 1;
}

.modal-body .images img.zoom {
  transform: scale(1.2);
  filter: grayscale(0%);
  border: 1px solid transparent;
  z-index: 99;
}
.modal-body .details{
  position: fixed;
  float: right;
  right: 270px;
  top:150px;
  margin: 1.5rem auto;
}
.modal-body .details strong{
  font-weight: 700;
}
 #button{
  position: relative;
  top:-45px;
  left: 200px
}
.btn-1{
  margin-top: 20px ;
  padding: 8px 25px;
  font-size: 20px;
  background-color: #4030f0;
  border:none;
  color: #fff;
  border-radius: 10px;
}
.btn-2{
  padding: 8px 25px;
  font-size: 20px;
  background-color: #fff;
  border:1px solid #4030f0;
  border-radius: 10px;
}
.stack-tab-container{
  top:-400px;
  float: right;
  position: relative;
  width: 28vw;
}
 .tab-bar {
  background: transparent;
  overflow: hidden;
  padding-right: 10px;
}

.stack-tab-container ul.tabs {
  display: flex;
  gap: 16px;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 12px;
  border-bottom: 1px solid #c0c0c0;
  list-style: none;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
.stack-tab-container ul.dragging {
  scroll-behavior: auto;
  cursor: pointer;
}
.stack-tab-container ul::-webkit-scrollbar {
  display: none;
}
.modal-body .wrapper::-webkit-scrollbar{
  display: none;
}
.stack-tab-container .left-arrow,
.stack-tab-container .right-arrow {
  position: absolute;
  width: 100px;
  height: 100%;
  top: 0px;
  display: none;
  align-items: center;
  padding: 0 10px;
  pointer-events: none;
}
.stack-tab-container .right-arrow {
  right: 0;
  justify-content: flex-end;
  background: linear-gradient(to left, #fff 20%, transparent);
}
.modal-open .modal {
  overflow: hidden;
}
.modal-body {
  height: calc(100vh - 126px);
  overflow-y:hidden;
}
.stack-tab-container .right-arrow.active,
.stack-tab-container .left-arrow.active {
  display: flex;
}
.stack-tab-container a.tab {
  display: inline-block;
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  line-height: 32px;
  padding: 0 8px;
  border-radius: 16px;
  background-color: #e4e4e4;
  margin-bottom: 5px;
  margin-right: 5px;
  user-select: none;
  white-space: nowrap;
  text-decoration: none;
}
.stack-tab-container a.tab.active {
  border: 1px solid #007bff;
  color: #007bff;
  background: #fff;
}
.description{
  position: relative;
  float: right;
  top:-320px;
  left: 450px;
  width: 28vw;
  height: 40vh;
  overflow-y:scroll ;
}
.overview span{
  padding:5px 10px;
  margin-left: 10px;
  background-color: #d2e5fa;
  border-radius: 10px;
  font-weight: 600;
  line-height: 42px;
}
.question{
    margin-top: 20px ;
    padding: 8px 60px;
    font-size: 18px;
    background-color: #4030f0;
    border:none;
    color: #fff;
    border-radius: 10px;
  }
  .ques{
    margin-top: 20px
  }
  .agent{
    font-size: 14px;
    line-height: 1px;
  }
.feature{
  margin-top: 30px
}
#navbarSupportedContent {
  justify-content: center;
}
ul.navbar-nav li.nav-item {
  margin-right: 25px;
}
ul.navbar-nav li.nav-item:last-child {
  margin-right: 0;
}

ul.navbar-nav li.nav-item a.nav-link {
  color: #000;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
  color: #000;
}
ul.navbar-nav li.nav-item a.nav-link:hover {
  color: #4030f0;
}
/*search box css start here*/
.container{
  position: relative;
  margin: 0px 0px 10px;
}
#dropdown{
  width: 200px;
}
.select-btn{
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.select-btn .btn-text{
  font-size: 17px;
  font-weight: 400;
  color: #333;
}
.select-btn .arrow-dwn{
  display: flex;
  height: 21px;
  width: 21px;
  color: #fff;
  font-size: 14px;
  border-radius: 50%;
  background: #6e93f7;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.select-btn.open .arrow-dwn{
  transform: rotate(-180deg);
}

.select-btn.open ~ .list-items{
 display: block;
}
.list-items{
  position: absolute;
  z-index: 100;
  margin-top: 15px;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  display: none;
}
.list-items .item{
  display: flex;
  align-items: center;
  list-style: none;
  height: 50px;
  cursor: pointer;
  transition: 0.3s;
  padding: 0 12px;
  border-radius: 8px;
}
.list-items .item:hover{
  background-color: #e7edfe;
}
.item .item-text{
  font-size: 16px;
  font-weight: 400;
  color: #333;
}
.item .checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  margin-right: 12px;
  border: 1.5px solid #c0c0c0;
  transition: all 0.3s ease-in-out;
}
.item.checked .checkbox{
  background-color: #4070f4;
  border-color: #4070f4;
}
.checkbox .check-icon{
  color: #fff;
  font-size: 11px;
  transform: scale(0);
  transition: all 0.2s ease-in-out;
}
.item.checked .check-icon{
  transform: scale(1);
}

.select-btn1{
  margin-left: -40px;
  display: flex;
  height: 50px;
  width: 150px;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.select-btn1 .btn-text1{
  font-size: 17px;
  font-weight: 400;
  color: #333;
}

.select-btn1 .arrow-dwn{
  display: flex;
  height: 21px;
  width: 21px;
  color: #fff;
  font-size: 14px;
  border-radius: 50%;
  background: #6e93f7;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.select-btn1.open .arrow-dwn{
  transform: rotate(-180deg);
}

.select-btn1.open ~ .list-items{
 display: block;
}

.list-items .item1{
  display: flex;
  align-items: center;
  list-style: none;
  height: 50px;
  cursor: pointer;
  transition: 0.3s;
  padding: 0 12px;
  border-radius: 8px;
}

.list-items .item1:hover{
  background-color: #e7edfe;
}

.item1 .item-text{
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

.item1 .checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  margin-right: 12px;
  border: 1.5px solid #c0c0c0;
  transition: all 0.3s ease-in-out;
}

.item1.checked .checkbox{
  background-color: #4070f4;
  border-color: #4070f4;
}

.checkbox .check-icon{
  color: #fff;
  font-size: 11px;
  transform: scale(0);
  transition: all 0.2s ease-in-out;
}

.item1.checked .check-icon{
  transform: scale(1);
}

.select-btn2{
  display: flex;
  height: 50px;
  margin-left: -100px;
  align-items: center;
  width: 160px;
  justify-content: space-between;
  padding: 0 10px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.select-btn2 .btn-text2{
  font-size: 17px;
  font-weight: 400;
  color: #333;
}
.select-btn2 .arrow-dwn{
  display: flex;
  height: 21px;
  width: 21px;
  color: #fff;
  font-size: 14px;
  border-radius: 50%;
  background: #6e93f7;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.select-btn2.open .arrow-dwn{
  transform: rotate(-180deg);
}

.select-btn2.open ~ .list-items{
 display: block;
}

.list-items .item2{
  display: flex;
  align-items: center;
  list-style: none;
  height: 50px;
  cursor: pointer;
  transition: 0.3s;
  padding: 0 12px;
  border-radius: 8px;
}
.list-items .item2:hover{
  background-color: #e7edfe;
}
.item2 .item-text{
  font-size: 12px;
  font-weight: 400;
  color: #333;
}
.item2 .checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  margin-right: 12px;
  border: 1.5px solid #c0c0c0;
  transition: all 0.3s ease-in-out;
}
.item2.checked .checkbox{
  background-color: #4070f4;
  border-color: #4070f4;
}
.checkbox .check-icon{
  color: #fff;
  font-size: 11px;
  transform: scale(0);
  transition: all 0.2s ease-in-out;
}
.item2.checked .check-icon{
  transform: scale(1);
}


.select-btn3{
  display: flex;
  height: 50px;
  margin-left: -150px;
  width: 160px;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.select-btn3.open .arrow-dwn{
  transform: rotate(-180deg);
}

.select-btn3.open ~ .list-items{
 display: block;
}

.list-items .item3{
  display: flex;
  align-items: center;
  list-style: none;
  height: 50px;
  cursor: pointer;
  transition: 0.3s;
  padding: 0 12px;
  border-radius: 8px;
}
.list-items .item3:hover{
  background-color: #e7edfe;
}
.item3 .item-text{
  font-size: 12px;
  font-weight: 400;
  color: #333;
}
.item3 .checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  margin-right: 12px;
  border: 1.5px solid #c0c0c0;
  transition: all 0.3s ease-in-out;
}
.item3.checked .checkbox{
  background-color: #4070f4;
  border-color: #4070f4;
}
.checkbox .check-icon{
  color: #fff;
  font-size: 11px;
  transform: scale(0);
  transition: all 0.2s ease-in-out;
}
.item3.checked .check-icon{
  transform: scale(1);
}
#toggleMapButton2{
  display: none;
}
.search-slt{
  display: block;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  height: 40px;
  width: 200px;
  font-size: 0.875rem;
  line-height: 1.5;
  background-color: #fff;
  height: calc(3rem + 2px) !important;
  border-radius:0;
}
.wrn-btn{
  position: relative;
  float: right;
  top:-60px;
  margin-right: 40px;
  display: flex;
  width: 110px;
  padding:10px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background-color: #4030f0;
  color: #fff;
  border: none;
  font-size: 17px;
}
.btn{
  display: none;
}
.dropdown-button{
  display: none;
}
.property-item {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 10px 0px;
}

.property-item .border-top {
  border-top: 1px dashed rgba(0, 105, 185, 0.3) !important;
}

.property-item .border-end {
  border-right: 1px dashed rgba(0, 105, 185, 0.3) !important;
}
.image-slider {
  display: flex;
  transition: transform 0.5s ease;
  overflow: hidden;
}
.image-slider img {
  width: 100%;
  height: auto;
}
.tab-content{
  position: relative;
  float: right;
  left: 720px;
  top: -680px;
  height: 100vh !important;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 200px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#prop{
  margin-left: 40px;
}
#map{
 position: relative;
 z-index: 1;
 margin-top: -50px;
  margin-left: 50px;
  padding: none;
  width: 700px;
  height: 650px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.custom-tooltip {
  background-color: #fff;
  color: #000;
  border-radius: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  max-width: 100px;
}
.custom-tooltip p{
  margin-top:-10px
}
.custom-tooltip img{
  height: 35px;
  width: auto;
  margin-bottom: 20px;
  padding: 2px;
}
.container1{
  display:none;
}
/* Custom card styles */
.card {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  max-width: 300px;
}

/* Card title styles */
.card h3 {
  font-size: 18px;
  margin: 0 0 10px 0;
}

/* Card description styles */
.card p {
  margin: 0 0 5px 0;
}

/* Card link styles */
.card a {
  color: #2196F3;
  text-decoration: none;
  transition: 0.3s;
}

/* Card link hover styles */
.card a:hover {
  color: #1976D2;
}

@media screen and (max-width: 1500px){
  body{
    width: 100vw;
  }
  #map{
    width: 600px ;
    left: 50px ;
  }
  .tab-content{
    position: relative;
    width: 100%;
    top:0px;
    padding-bottom: 0px;
    left:0px;
  }
  #prop{
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 480px){
body{
  overflow-y: scroll;
}
.left{
  position: absolute;
  display: block;
    top: 60%;   left: 70%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
}
#dropdown{
  position: relative;
  width: 50%;
  margin: 0px auto 10px;
}
.select-btn.open ~ .list-items{
  z-index: 1;
  position: absolute;
  display: block;
 }
 .select-btn1.open ~ .list-items{
  z-index: 1;
  position: absolute;
  display: block;
 }
 .select-btn2.open ~ .list-items{
  z-index: 1;
  position: absolute;
  display: block;
 }
 .select-btn3.open ~ .list-items{
  z-index: 1;
  position: absolute;
  display: block;
 }
.select-btn{
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border-radius: 8px;
  width: 135px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.select-btn .btn-text{
  font-size: 16px;
  font-weight: 400;
  color: #333;
}
.select-btn .arrow-dwn{
  display: flex;
  height: 18px;
  width: 18px;
  color: #fff;
  font-size: 16px;
  border-radius: 50%;
  background: #6e93f7;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.select-btn1{
  display: none;
}
#exampleModalCenter2{
  overflow-y: auto;
}
#exampleModalCenter2 .modal-body ul{
  position: relative;
  left: -10px;
  right: 0px;
}
#exampleModalCenter2 .modal-body ul li{

  list-style-type: none;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #a9a5a5;
  margin: 0 10px;
}
#xampleModalCenter .close{
  position: relative;
}
#exampleModalCenter2 .modal-body ul li a{
  position: relative;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  align-items: center;
}

.select-btn2{
  display: none;
}
.dropdown-content{
  display: inline;
}
.select-btn3{
  display: none;
}
.dropdown-button{
  position: relative;
  top:-60px;
  left: 140px;
  font-size: 17px;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  max-width: 120px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
#exampleModalCenter3 .modal-body{
 overflow-y: auto;
}
.dropdown-content .heading, #am{
  color:#007bff;
  margin: 20px;
  font-size: 15px;
  display: block;
  font-weight: 500;
}
.pricing{
  display: flex;
}
.pricing select{
  display: flex;
  padding: 2px;
  background-color: #ebecec;
  border-radius: 3px;
  font-size: 14px;
  font-family: 300;
}
#bedrooms, #bathrooms{
  margin-left: 40px;
  padding: 10px;
}
#bedrooms, #bedrooms option{
  padding: 2px;
  background-color: #ebecec;
  border-radius: 3px;
  font-size: 14px;
  font-family: 300;
}
#bathrooms, #bathrooms option{
  padding: 2px;
  background-color: #ebecec;
  border-radius: 3px;
  font-size: 14px;
  font-family: 300;
}
.amentity{
display: flex;
margin: 5px;
margin-left: 30px;
}
.amentity .cbx{
  margin-left: 5px;
  font-size: 15px !important;
  font-family: 300 !important;
}
.foot{
  display: flex;
  margin-top: 20px;
  margin-left: 10px;
}
.reset{
  padding: 10px 40px;
  background-color: transparent;
  border: none;
  color: #000;
}
.save{
  padding: 10px 40px;
  background-color: #007bff;
  border-radius: 15px;
  color: #fff;
  border: none;
}
#map{
  position: fixed;
  z-index: 100;
  width: 400px;
  height: 800px;
  margin-left: -60px;
  bottom: 50px;
}
#toggleMapButton{
  position: fixed;
  bottom: 50px;
  margin-left: 120px;
  margin-right:4px;
  z-index: 100;
  background-color: #cfe1ec;
  color: #000;
  border: none;
  font-size: 16px;
  font-weight: 400;
  height: calc(2.4rem + 3px) !important;
  width: 80px;
}
#toggleMapButton2{
  display: block;
  position: fixed;
  bottom: 50px;
  margin-left: 190px;
  z-index: 100;
  background-color: #cfe1ec;
  color: #000;
  border: none;
  font-size: 16px;
  font-weight: 400;
  height: calc(2.4rem + 3px) !important;
  width: 80px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.wrn-btn{
  position: relative;
  float: right;
  top:-110px;
  margin-right: 0px;
  display: flex;
  padding-left: 15px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background-color: #4030f0;
  color: #fff;
  border: none;
  font-size: 15px;
}
.search-slt{
  display: block;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  font-size: 0.575rem;
  line-height: 1;
  background-color: #fff;
  height: calc(2.5rem + 2px) !important;
  border-radius:0;
}
.search-sec #input{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 0px;
  margin-left:  0px;
}
.tab-content{
  position: relative;
  top:-100px;
  
  left:0px;
}
#prop{
  margin-top: -20px;
  margin-left: -5px;
}
}
.heart-container {
  right: 0px;
  --heart-color: rgb(255, 255, 255);
  position: relative;
  width: 30px;
  height: 20px;
  transition: .3s;
}

.heart-container .checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}
.heart-container 
.heart-container .svg-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  transform: scale(1);
  align-items: center;
}
.svg-outline{
  fill: #000;
  position: absolute;
  
}
.heart-container,
        .heart-container .svg-filled {
  fill: #007bff;
  transform: scale(1.2);
  position: absolute;
}

.heart-container .svg-filled {
  animation: keyframes-svg-filled 1s;
  display: none;
}

.heart-container .svg-celebrate {
  position: absolute;
  animation: keyframes-svg-celebrate .5s;
  animation-fill-mode: forwards;
  display: none;
  stroke: var(--heart-color);
  fill: var(--heart-color);
  stroke-width: 2px;
}

.heart-container .checkbox:checked~.svg-container .svg-filled {
  display: block
}

.heart-container .checkbox:checked~.svg-container .svg-celebrate {
  display: block
}

@keyframes keyframes-svg-filled {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
    filter: brightness(1.5);
  }
}

@keyframes keyframes-svg-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
    filter: brightness(1.5);
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
    display: none;
  }
}
.property-item a{
  text-decoration: none;
}
@media (max-width: 480px){

  .modal-header{
    margin-top: -40px;
  }
  .modal-header .logo{
    font-size: 20px;
  }
  #largemodal{
    position: fixed;
  }
  .head-item{
    position: relative;
    top: 60px;
    margin-left: -200px;
    display: flex;
    padding-bottom:25px ;
  }
  .modal-header .close{
    background-color: transparent;
    border: none;
    margin-left:  -30px ;
    margin-top: 0px;
  }
  .modal-header .close span{
    font-size: 50px;
  }
  .header-element i{
    font-size: 12px;
    margin-right: 2px;
  }
  .header-element{
    margin-left: -2px
  }
  .modal-header a{
    font-size: 12px;
    text-decoration: none ;
  }
  .modal-body{
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .modal-body .wrapper {
    position: relative;
    top: -30px;
    display: inline;
    margin-left:-10px ;
  }
  .wrapper .images{
    display: flex;
    overflow-x: scroll;
    height: 30%;
    width: 100%;
  }
  .wrapper .images img{
    margin: 2px;
  }
  .modal-body .details{
    position: relative;
    float: right;
    top:-50px;
    right:30px;
    margin: 1.5rem auto;
  }
  .modal-body .details strong{
    font-weight: 700;
  }
   #button{
    position: relative;
    top:-35px;
    left: 150px
  }
  .btn-1{
    margin-top: 20px ;
    padding: 6px 20px;
    font-size: 15px;
    background-color: #4030f0;
    border:none;
    color: #fff;
    border-radius: 10px;
  }
  .btn-2{
    padding: 6px 20px;
    font-size: 15px;
    background-color: #fff;
    border:1px solid #4030f0;
    border-radius: 10px;
  }
  .stack-tab-container{
    top:-60px;
    position: relative;
    left: 16px;
    width: 90vw;
  }
   .tab-bar {
    background: transparent;
    overflow: hidden;
    padding-right: 10px;
  }

  .stack-tab-container ul.tabs {
    display: flex;
    gap: 16px;
    margin: 0;
    padding-top: 16px;
    padding-bottom: 12px;
    list-style: none;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
  }
  .stack-tab-container ul.dragging {
    scroll-behavior: auto;
    cursor: pointer;
  }
  .stack-tab-container ul::-webkit-scrollbar {
    display: none;
  }
  .modal-body .wrapper::-webkit-scrollbar{
    display: none;
  }
  .stack-tab-container .left-arrow,
  .stack-tab-container .right-arrow {
    position: absolute;
    width: 50px;
    height: 100%;
    top: 0px;
    display: none;
    align-items: center;
    padding: 0 10px;
    pointer-events: none;
  }
  .stack-tab-container .right-arrow {
    right: 0;
    justify-content: flex-end;
    background: linear-gradient(to left, #fff 20%, transparent);
  }
  .stack-tab-container .right-arrow.active,
  .stack-tab-container .left-arrow.active {
    display: flex;
  }
  .stack-tab-container a.tab {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    line-height: 32px;
    padding: 0 8px;
    border-radius: 16px;
    background-color: #e4e4e4;
    margin-bottom: 5px;
    margin-right: 5px;
    user-select: none;
    white-space: nowrap;
    text-decoration: none;
  }
  .stack-tab-container a.tab.active {
    border: 1px solid #007bff;
    color: #007bff;
    background: #fff;
  }
  .description{
    position: relative;
    float: right;
    top:-50px;
    padding-bottom: 100px;
    left: 15px;
    width: 88vw; 
  }
  .overview span{
    padding:5px 10px;
    margin-left: 10px;
    background-color: #d2e5fa;
    border-radius: 10px;
    font-weight: 600;
    line-height: 42px;
  }
  .question{
      margin-top: 20px ;
      padding: 8px 60px;
      font-size: 18px;
      background-color: #4030f0;
      border:none;
      color: #fff;
      border-radius: 10px;
    }
    .ques{
      margin-top: 20px
    }
    .agent{
      font-size: 14px;
      line-height: 1px;
    }
  .feature{
    margin-top: 30px
  }
}